<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuyin.mapper.MusicMapper" >
  <resultMap id="BaseResultMap" type="com.yuyin.pojo.Music" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="musicname" property="musicname" jdbcType="VARCHAR" />
    <result column="singer" property="singer" jdbcType="VARCHAR" />
    <result column="album" property="album" jdbcType="VARCHAR" />
    <result column="musicimage" property="musicimage" jdbcType="VARCHAR" />
    <result column="musicpath" property="musicpath" jdbcType="VARCHAR" />
    <result column="musictime" property="musictime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, musicname, singer, album, musicimage, musicpath, musictime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yuyin.pojo.MusicExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from music
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from music
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from music
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yuyin.pojo.MusicExample" >
    delete from music
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yuyin.pojo.Music" >
    insert into music (id, musicname, singer, 
      album, musicimage, musicpath, 
      musictime)
    values (#{id,jdbcType=BIGINT}, #{musicname,jdbcType=VARCHAR}, #{singer,jdbcType=VARCHAR}, 
      #{album,jdbcType=VARCHAR}, #{musicimage,jdbcType=VARCHAR}, #{musicpath,jdbcType=VARCHAR}, 
      #{musictime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yuyin.pojo.Music" >
    insert into music
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="musicname != null" >
        musicname,
      </if>
      <if test="singer != null" >
        singer,
      </if>
      <if test="album != null" >
        album,
      </if>
      <if test="musicimage != null" >
        musicimage,
      </if>
      <if test="musicpath != null" >
        musicpath,
      </if>
      <if test="musictime != null" >
        musictime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="musicname != null" >
        #{musicname,jdbcType=VARCHAR},
      </if>
      <if test="singer != null" >
        #{singer,jdbcType=VARCHAR},
      </if>
      <if test="album != null" >
        #{album,jdbcType=VARCHAR},
      </if>
      <if test="musicimage != null" >
        #{musicimage,jdbcType=VARCHAR},
      </if>
      <if test="musicpath != null" >
        #{musicpath,jdbcType=VARCHAR},
      </if>
      <if test="musictime != null" >
        #{musictime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yuyin.pojo.MusicExample" resultType="java.lang.Integer" >
    select count(*) from music
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update music
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.musicname != null" >
        musicname = #{record.musicname,jdbcType=VARCHAR},
      </if>
      <if test="record.singer != null" >
        singer = #{record.singer,jdbcType=VARCHAR},
      </if>
      <if test="record.album != null" >
        album = #{record.album,jdbcType=VARCHAR},
      </if>
      <if test="record.musicimage != null" >
        musicimage = #{record.musicimage,jdbcType=VARCHAR},
      </if>
      <if test="record.musicpath != null" >
        musicpath = #{record.musicpath,jdbcType=VARCHAR},
      </if>
      <if test="record.musictime != null" >
        musictime = #{record.musictime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update music
    set id = #{record.id,jdbcType=BIGINT},
      musicname = #{record.musicname,jdbcType=VARCHAR},
      singer = #{record.singer,jdbcType=VARCHAR},
      album = #{record.album,jdbcType=VARCHAR},
      musicimage = #{record.musicimage,jdbcType=VARCHAR},
      musicpath = #{record.musicpath,jdbcType=VARCHAR},
      musictime = #{record.musictime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuyin.pojo.Music" >
    update music
    <set >
      <if test="musicname != null" >
        musicname = #{musicname,jdbcType=VARCHAR},
      </if>
      <if test="singer != null" >
        singer = #{singer,jdbcType=VARCHAR},
      </if>
      <if test="album != null" >
        album = #{album,jdbcType=VARCHAR},
      </if>
      <if test="musicimage != null" >
        musicimage = #{musicimage,jdbcType=VARCHAR},
      </if>
      <if test="musicpath != null" >
        musicpath = #{musicpath,jdbcType=VARCHAR},
      </if>
      <if test="musictime != null" >
        musictime = #{musictime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuyin.pojo.Music" >
    update music
    set musicname = #{musicname,jdbcType=VARCHAR},
      singer = #{singer,jdbcType=VARCHAR},
      album = #{album,jdbcType=VARCHAR},
      musicimage = #{musicimage,jdbcType=VARCHAR},
      musicpath = #{musicpath,jdbcType=VARCHAR},
      musictime = #{musictime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>