<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuyin.mapper.PeriodicalMapper" >
  <resultMap id="BaseResultMap" type="com.yuyin.pojo.Periodical" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="imagepath" property="imagepath" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.yuyin.pojo.Periodical" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, imagepath, tag, author, createtime
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.yuyin.pojo.PeriodicalExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from periodical
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yuyin.pojo.PeriodicalExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from periodical
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from periodical
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from periodical
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yuyin.pojo.PeriodicalExample" >
    delete from periodical
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yuyin.pojo.Periodical" >
    insert into periodical (id, title, imagepath, 
      tag, author, createtime, 
      content)
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{imagepath,jdbcType=VARCHAR}, 
      #{tag,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yuyin.pojo.Periodical" >
    insert into periodical
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="imagepath != null" >
        imagepath,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="imagepath != null" >
        #{imagepath,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yuyin.pojo.PeriodicalExample" resultType="java.lang.Integer" >
    select count(*) from periodical
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update periodical
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.imagepath != null" >
        imagepath = #{record.imagepath,jdbcType=VARCHAR},
      </if>
      <if test="record.tag != null" >
        tag = #{record.tag,jdbcType=VARCHAR},
      </if>
      <if test="record.author != null" >
        author = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update periodical
    set id = #{record.id,jdbcType=BIGINT},
      title = #{record.title,jdbcType=VARCHAR},
      imagepath = #{record.imagepath,jdbcType=VARCHAR},
      tag = #{record.tag,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update periodical
    set id = #{record.id,jdbcType=BIGINT},
      title = #{record.title,jdbcType=VARCHAR},
      imagepath = #{record.imagepath,jdbcType=VARCHAR},
      tag = #{record.tag,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuyin.pojo.Periodical" >
    update periodical
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="imagepath != null" >
        imagepath = #{imagepath,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yuyin.pojo.Periodical" >
    update periodical
    set title = #{title,jdbcType=VARCHAR},
      imagepath = #{imagepath,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuyin.pojo.Periodical" >
    update periodical
    set title = #{title,jdbcType=VARCHAR},
      imagepath = #{imagepath,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!--===================================================================================  -->
  <!-- 支持批量删除 -->
  <delete id="deletePeriodical">
  	delete from periodical where id in
  	<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
  		#{item}
  	</foreach>
  </delete>
  
  <resultMap type="com.yuyin.pojo.PeriodicalCustom" id="BaseResultExt">
  	<id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="imagepath" property="imagepath" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <collection property="music" ofType="com.yuyin.pojo.Music">
    	<id column="musicId" property="id" jdbcType="BIGINT" />
    	<result column="musicname" property="musicname" jdbcType="VARCHAR" />
    	<result column="singer" property="singer" jdbcType="VARCHAR" />
    	<result column="album" property="album" jdbcType="VARCHAR" />
    	<result column="musicimage" property="musicimage" jdbcType="VARCHAR" />
    	<result column="musicpath" property="musicpath" jdbcType="VARCHAR" />
    	<result column="musictime" property="musictime" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  <sql id="queryInfo">
  	<if test="record.id!=null">and p.id=#{record.id}</if>
  	<if test="record.title!=null">and p.title like '%${record.title}%'</if>
  </sql>
  <select id="queryPeriodicalList" parameterType="com.yuyin.pojo.Periodical" resultMap="BaseResultExt">
  	select 
	p.id,p.title,p.tag,p.imagepath,p.content,p.author,p.createtime,
	m.id as musicId,m.musicname,m.singer,m.album,m.musicimage,m.musicpath,m.musictime
	from periodical p
	LEFT JOIN periodical_music pm ON p.id=pm.periodical_id
	LEFT JOIN music m ON pm.music_id=m.id
	where 1=1
	<include refid="queryInfo"/>
	ORDER BY  p.createtime DESC
  </select>
  
  <select id="queryPerOneTable" resultMap="BaseResultExt">
  	select 
	p.id,p.title,p.tag,p.imagepath,p.content,p.author,p.createtime
	from periodical p
	ORDER BY  p.createtime DESC
  </select>
  
  <select id="queryPeriodicalID" parameterType="java.lang.Long" resultMap="BaseResultExt">
  	select 
	p.id,p.title,p.tag,p.imagepath,p.content,p.author,p.createtime,
	m.id as musicId,m.musicname,m.singer,m.album,m.musicimage,m.musicpath,m.musictime
	from periodical p
	LEFT JOIN periodical_music pm ON p.id=pm.periodical_id
	LEFT JOIN music m ON pm.music_id=m.id
	where 
	p.id=#{id}
  </select>
</mapper>