<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/yuyin/css/vol.css">
    <link rel="stylesheet" href="/yuyin/layui/css/layui.css">
    <link rel="stylesheet" href="/yuyin/css/stylesheets/style.css">
    <script type="text/javascript " src="/yuyin/js/jquery.min.js"></script>
    <script src="/yuyin/js/angular.min.js"></script>
    <script src="/yuyin/js/jquery-ui-1.12.1.min.js"></script>
    <script src="/yuyin/js/jquery.cookie.js"></script>
    <script src="/yuyin/layui/lay/dest/layui.all.js"></script>
    <title>余音</title>
    <style>
    	.layui-layer-content{
    		color:#000;
    	}
    </style>
</head>
<body>
<div ng-app="pdetailApp" ng-controller="pdetailContro" ng-cloak>
<div class="header">
    <div class="header-ct">
        <a href="/yuyin" class="nav" style="font-size: 18px">余音
        </a>
        <div class="nav">
            <ul class="clearfix">
                <li><a href="/yuyin/periodical">期刊</a></li>
                <li><a href="/yuyin/single">单曲</a></li>
                <li><a href="/yuyin/essay">专栏</a></li>
            </ul>
        </div>
        <div class="logged-in-wrapper" style="display: block" ng-show="loginStatus==1">
            <div class="account-more">
                <a href="javascript:;" class="ln-account" ng-click="login()">
                    登录/注册
                </a>
            </div>
        </div>
        <div class="logged-in-wrapper" style="display: block" ng-show="loginStatus==2">
            <div class="account-more">
                <a href="javascript:;" class="ln-account">
                    <img style="width: 16px;height: 16px" ng-src="[[headImage]]" alt="[[userName]]" class="avatar">&nbsp;&nbsp;[[userName]]

                </a>
            </div>
            &nbsp;&nbsp;
            <a href="javascript:;" class="link-logout" ng-click="logout()"><span class="icon-logout"></span>退出</a>
        </div>
    </div>
</div>
<div class="container ct-sm">
    <div class="vol-tags clearfix">
        <a href="/yuyin/periodical" class="nav-back">
            <i class="icon-back"></i>
            返回期刊首页
        </a>
        <a href="javascript:;" target="_blank" class="vol-tag-item">#[[item.tag]]</a>
    </div>
    <h1 class="vol-name">
        <span class="vol-number rounded">[[item.id]]</span>
        <span class="vol-title">[[item.title]]</span>
    </h1>
    <div class="vol-cover-wrapper" id="volCoverWrapper">
        <img ng-src="[[item.imagepath]]" alt="[[item.title]]" class="vol-cover">
    </div>
    <div class="vol-desc">
        [[item.content]]
    </div>
    <div class="clearfix vol-meta">
        <img src="https://avatars1.githubusercontent.com/u/18554575" alt="落在低处" class="author-avatar rounded">
        <a class="vol-author" href="">hxiaope</a>
        <span class="separator fleft">・</span>
        <span class="vol-date">2017-03-16</span>
        <a href="javascript:;" class="btn-action-like icon-fav" title="收藏" ng-click="collect(item.id)"></a>
        <div id="player" style="background: #333333">
            <div class="cover"></div>
            <div class="ctrl">
                <div class="tag"></div>
                <div class="control">
                    <div class="left">
                        <div class="rewind icon"></div>
                        <div class="playback icon"></div>
                        <div class="fastforward icon"></div>
                    </div>
                    <div class="volume right">
                        <div class="mute icon left"></div>
                        <div class="slider left ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                            <div class="pace"></div>
                            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a></div>
                    </div>
                </div>
                <div class="progress">
                    <div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                        <div class="loaded"></div>
                        <div class="pace"></div>
                        <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style=""></a></div>
                    <div class="timer left"></div>
                    <div class="right">
                        <div class="repeat icon"></div>
                        <div class="shuffle icon"></div>
                    </div>
                </div>
            </div>
        </div>
        <ul id="playlist" style="background: #333333">
        </ul>
    </div>
    <div class="comment-wrapper" id="comment">
        <h3 class="volcount">评论</h3>

        <div class="comment-editor">
            <div class="editor-wrapper">
                    <div class="editor rounded">
                        <textarea name="content" spellcheck="false" id="commentEditor" autocomplete="off"></textarea>
                    </div>
                    <div class="toolbar rounded clearfix">
                        <button class="btn btn-positive" ng-click="comment()">发布</button>
                    </div>
                    <!-- <input type="hidden" name="app_id" value="1">
                    <input type="hidden" name="res_id" value="982"> -->
            </div>
            <!-- editor-wrapper end-->
        </div>
    </div>
    <div class="comment-list" id="commentList">
        <a href="" class="avatar-wrapper" target="_blank">
            <img src="https://avatars1.githubusercontent.com/u/18554575" alt="月落天涯" class="avatar rounded">
        </a>
        <div class="item-wrapper">
            <div class="helper">
                <a href="" class="username">hxiaope</a>
            </div>
            <div class="comment-ct">
                <p class="the-comment">生活折磨着我们，我们就带上耳机自己找乐，自己跳，自己蹦，自己嗨到天外之外</p>
            </div>
        </div>
    </div>
</div>
    <div id="loginContent" ng-show="loginshow">
        <div class="dialog-passport">
            <form class="form-ajax">
                <div class="inline-input">
                    <span class="label">邮箱</span>
                    <input type="email" class="input-passport" name="email" required="" ng-model="email">
                </div>
                <div class="inline-input">
                    <span class="label">密码</span>
                    <input type="password" class="input-passport" name="password" required="" ng-model="password">
                </div>
                <div class="btn-wrapper">
                    <a href="javascript:;" class="btn btn-positive btn-login-submit" ng-click="signIn()">
                        登录
                    </a>
                </div>
            </form>
            <div class="dialog-head">
                <a href="javascript:;" class="ln-reg btn-dialog-register" data-width="235" ng-click="signup()">
                    注册
                </a>
                <span class="fright">没有账号？</span>
            </div>
        </div>
    </div>
    <div id="signupContent" ng-show="signupShow">
        <div class="dialog-passport">
            <form class="form-ajax">
                <div class="inline-input">
                    <span class="label">昵称</span>
                    <input type="text" class="input-passport" name="nickname" required="" placeholder="14位以内中英文数字" ng-model="nickname">
                </div>
                <div class="inline-input">
                    <span class="label">邮箱</span>
                    <input type="email" class="input-passport" name="email" required="" placeholder="您的常用邮箱" ng-model="email">
                </div>
                <div class="inline-input">
                    <span class="label">密码</span>
                    <input type="password" class="input-passport" name="password" required="" placeholder="6-16个字符" ng-model="password">
                </div>
                <div class="btn-wrapper">
                    <a href="javascript:;" class="btn btn-positive btn-login-submit" ng-click="register()">
                        注册
                    </a>
                </div>
            </form>
            <div class="dialog-head">
                <a href="javascript:;" class="ln-reg btn-dialog-register" data-width="235" ng-click="login()">
                    返回登录
                </a>
                <span class="fright">已有账号？</span>
            </div>
        </div>
    </div>
</div>
<script src="/yuyin/js/query/periodicalDetail.js"></script>
</body>
</html>