<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/yuyin/css/essay.css">
    <link rel="stylesheet" href="/yuyin/layui/css/layui.css">
    <script type="text/javascript" src="/yuyin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/yuyin/js/angular.min.js"></script>
    <script src="/yuyin/js/jquery.cookie.js"></script>
    <script src="/yuyin/layui/lay/dest/layui.all.js"></script>
    <title>余音</title>
    <style>
        #laypage{
            text-align:center;
            margin:0 auto;
        }
    </style>
</head>
<body>
<div ng-app="essayDetailApp" ng-controller="essayDetailContro" ng-cloak>
<div class="header">
    <div class="header-ct">
        <a href="/yuyin" class="nav" style="font-size: 18px">余音
        </a>
        <div class="nav">
            <ul class="clearfix">
                <li><a href="/yuyin/periodical">期刊</a></li>
                <li><a href="/yuyin/single">单曲</a></li>
                <li><a href="/yuyin/essay">专栏</a></li>
            </ul>
        </div>
        <div class="logged-in-wrapper" style="display: block" ng-show="loginStatus==1">
            <div class="account-more">
                <a href="javascript:;" class="ln-account" ng-click="login()">
                    登录/注册
                </a>
            </div>
        </div>
        <div class="logged-in-wrapper" style="display: block" ng-show="loginStatus==2">
            <div class="account-more">
                <a href="/yuyin/user/[[userId]]" class="ln-account">
                    <img style="width: 16px;height: 16px" ng-src="[[headImage]]" alt="[[userName]]" class="avatar">&nbsp;&nbsp;[[userName]]

                </a>
            </div>
            &nbsp;&nbsp;
            <a href="javascript:;" class="link-logout" ng-click="logout()"><span class="icon-logout"></span>退出</a>
        </div>
    </div>
</div>
<div class="container ct-sm">
    <nav class="article-nav">
        <a href="/yuyin/essay" class="nav-back">
            <i class="icon-back"></i>
            返回专栏首页
        </a>
    </nav>
    <div class="essay-detail-wrapper">
        <input type="hidden" id="eId" ng-model="item.id">
        <h1 class="essay-title">[[item.title]]</h1>
        <p class="essay-meta"><span>[[item.author]]</span>・[[item.createtime]]</p>
        <div class="essay-music">
            <div class="vol-tracklist">
                <ul>
                    <li class="track-item">
            <div class="track-wrapper clearfix">
                <span class="btn-control" ng-click="play(item.id)">
                    <i class="icon icon-status-play" style="display: inline-block;" ng-show="playstatus==1"></i>
                    <i class="icon icon-status-pause" style="display: inline-block;" ng-show="playstatus==0"></i>
                </span>
                <a href="javascript:;" id="[[item.id]]" class="trackname" ng-click="play(item.id)">
                    [[item.musicname]]
                </a>
                <div class="artist">[[item.singer]]</div>
                <audio id="audio[[item.id]]" ng-src="[[item.musicpath | trustSrc]]"></audio>
            </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="essay-content" ng-bind-html="item.content | trustHtml">
        </div>
        <div class="essay-share">
            <a href="javascript:;" class="btn-action-like" title="收藏" ng-click="collect(item.id)">
                <span class="icon-essay-fav"></span>
            </a>
        </div>
        <div class="essay-author-wrapper clearfix">
            <div class="essay-author">
                <p class="title">
                    文章作者
                </p>

                <div class="clearfix">
                    <!--<a href="" class="avatar-wrapper">
                        <img src="http://wx3.sinaimg.cn/large/ae21ae1bgy1fcueh94nc7j215o0ng19u.jpg" alt="Eskimos" class="avatar rounded">
                    </a>-->
                    <div class="essay-author-info">
                        <div class="cell">
                            <a href="" class="essay-author-name">
                               <h1> [[item.author]]</h1>
                            </a>
                            <p class="essay-author-sign"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p class="title">
                    版权声明
                </p>
                <div class="copyright-ct">
                    专栏内文章，未经作者许可，不得转载、摘编。一经发现，自行承担全部法律责任。 谢谢合作。
                </div>
            </div>
        </div>
    </div>
    <div class="comment-wrapper" id="comment">
        <h3 class="volcount">评论</h3>

        <div class="comment-editor">
            <div class="editor-wrapper">
                    <div class="editor rounded">
                        <textarea name="content" spellcheck="false" id="commentEditor" autocomplete="off"></textarea>
                    </div>
                    <div class="toolbar rounded clearfix">
                        <button class="btn btn-positive" ng-click="comment(item.id)">发布</button>
                    </div>
                  <!--  <input type="hidden" name="app_id" value="1">
                    <input type="hidden" name="res_id" value="982">-->
            </div>
            <!-- editor-wrapper end-->
        </div>
    </div>
    <div class="comment-list" id="commentList">
        <div ng-repeat="commentItem in commentList">
            <a href="javascript:;" class="avatar-wrapper">
                <img ng-src="[[commentItem.userInfo.headImage]]" alt="[[commentItem.userInfo.userName]]" class="avatar rounded">
            </a>
            <div class="item-wrapper">
                <div class="helper">
                    <a href="" class="username">[[commentItem.userInfo.userName]]</a>
                </div>
                <div class="comment-ct">
                    <p class="the-comment">[[commentItem.content]]</p>
                </div>
                <div class="helper clearfix">[[commentItem.createtime]]</div>
            </div>
        </div>
    </div>
</div>
    <div id="loginContent" ng-show="loginshow">
        <div class="dialog-passport">
            <form class="form-ajax">
                <div class="inline-input">
                    <span class="label">邮箱</span>
                    <input type="email" class="input-passport" name="email" required="" ng-model="email">
                </div>
                <div class="inline-input">
                    <span class="label">密码</span>
                    <input type="password" class="input-passport" name="password" required="" ng-model="password">
                </div>
                <div class="btn-wrapper">
                    <a href="javascript:;" class="btn btn-positive btn-login-submit" ng-click="signIn()">
                        登录
                    </a>
                </div>
            </form>
            <div class="dialog-head">
                <a href="javascript:;" class="ln-reg btn-dialog-register" data-width="235" ng-click="signup()">
                    注册
                </a>
                <span class="fright">没有账号？</span>
            </div>
        </div>
    </div>
    <div id="signupContent" ng-show="signupShow">
        <div class="dialog-passport">
            <form class="form-ajax">
                <div class="inline-input">
                    <span class="label">昵称</span>
                    <input type="text" class="input-passport" name="nickname" required="" placeholder="14位以内中英文数字" ng-model="nickname">
                </div>
                <div class="inline-input">
                    <span class="label">邮箱</span>
                    <input type="email" class="input-passport" name="email" required="" placeholder="您的常用邮箱" ng-model="email">
                </div>
                <div class="inline-input">
                    <span class="label">密码</span>
                    <input type="password" class="input-passport" name="password" required="" placeholder="6-16个字符" ng-model="password">
                </div>
                <div class="btn-wrapper">
                    <a href="javascript:;" class="btn btn-positive btn-login-submit" ng-click="register()">
                        注册
                    </a>
                </div>
            </form>
            <div class="dialog-head">
                <a href="javascript:;" class="ln-reg btn-dialog-register" data-width="235" ng-click="login()">
                    返回登录
                </a>
                <span class="fright">已有账号？</span>
            </div>
        </div>
    </div>
</div>
<!--<script src="../js/script.js"></script>-->
<script src="../js/query/essayDetail.js"></script>
</body>
</html>