<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/yuyin/css/user.css">
    <link rel="stylesheet" href="/yuyin/layui/css/layui.css">
    <script type="text/javascript " src="/yuyin/js/jquery.min.js"></script>
    <script src="/yuyin/js/angular.min.js"></script>
    <script src="/yuyin/js/jquery-ui-1.12.1.min.js"></script>
    <script src="/yuyin/js/jquery.cookie.js"></script>
    <script src="/yuyin/layui/lay/dest/layui.all.js"></script>
    <title>余音</title>
    <style>
        #laypage{
            text-align:center;
            margin:0 auto;
        }
    </style>
</head>
<body>
<div ng-app="userApp" ng-controller="userController" ng-cloak>
    <div class="header">
        <div class="header-ct">
            <a href="/yuyin" class="nav" style="font-size: 18px">余音
            </a>
            <div class="nav">
                <ul class="clearfix">
                    <li><a href="/yuyin/periodical">期刊</a></li>
                    <li><a href="/yuyin/single">单曲</a></li>
                    <li><a href="/yuyin/essay">专栏</a></li>
                </ul>
            </div>
            <div class="logged-in-wrapper" style="display: block">
                <div class="account-more">
                    <a href="javascript:;" class="ln-account">
                        <img style="width: 16px;height: 16px" ng-src="[[headImage]]" alt="[[userName]]" class="avatar">&nbsp;&nbsp;[[userName]]

                    </a>
                </div>
                &nbsp;&nbsp;
                <a href="javascript:;" class="link-logout" ng-click="logout()"><span class="icon-logout"></span>退出</a>
            </div>
        </div>
    </div>
    <div class="container ct-sm" style="min-height: 200px;">
        <div class="uc-head clearfix">
            <div class="avatar-wrapper" id="avatarEditWrapper">
                <img ng-src="[[headImage]]" alt="[[userName]]" class="avatar" style="width: 102px;height: 102px">
            </div>
            <div class="uinfo">
                <div class="clearfix">
                    <h1 class="uname">[[userName]]</h1>
                </div>
            </div>
            <div class="sign">
                <div style="display: block;" id="textMood">
                    <a class="ln-edit-mood" href="javascript:;" ng-click="mdfUserInfo()">修改资料</a>
                </div>
            </div>
            <div class="ainfo"></div>
        </div>
        <div class="uc-nav rounded clearfix">
            <a href="javascript:;" id="single" class="nav-item actived" ng-click="singleCollect()">音乐</a>
            <a href="javascript:;" id="periodical" class="nav-item" ng-click="periodicalCollect()">期刊</a>
            <a href="javascript:;" id="essay" class="nav-item"ng-click="essayCollect()">文章</a>
        </div>
        <div class="uc-ct">
            <div class="fav-singles" ng-show="showSelect==1">
                <ul>
                    <li class="track-item" ng-repeat="single in singleList">
                        <div class="track-wrapper clearfix">
                            <a href="javascript:;" rel="nofollow" class="trackname btn-play">[[single.musicname]]</a>
                            <span class="artist btn-play">[[single.singer]]</span>
                            <a href="javascript:;" class="icon-info" style="visibility: visible;"></a>
                            <a href="javascript:;" class="btn-action-like icon-trash" style="visibility: visible;" ng-click="delScollect(single.singleId)"></a>
                        </div>
                    </li>
                    <div id="laypage1"></div>
                </ul>
            </div>
            <div class="fav-vols" ng-show="showSelect==2">
                <div class="item-wrapper">
                    <div class="item" ng-repeat="periodical in periodicalList">
                        <a href="/yuyin/periodical/[[periodical.periodicalId]]" class="cover-wrapper">
                            <img ng-src="[[periodical.imagepath]]" alt="[[periodical.title]]" class="cover rounded">
                        </a>
                        <a href="/yuyin/periodical/[[periodical.periodicalId]]" class="name">[[periodical.title]]</a>
                        <div class="op-bar">
                            <span class="time">[[periodical.createtime]]</span>

                            <a href="javascript:;" class="btn-action-like unfav" ng-click="delPcollect(periodical.periodicalId)">
                                <i class="icon icon-trash"></i>
                                删除
                            </a>
                        </div>
                    </div>
                    <div id="laypage2"></div>
                </div>
            </div>
            <div class="fav-essays" ng-show="showSelect==3">
                <div class="item" ng-repeat="essay in essayList">
                    <div class="clearfix">
                        <a href="/yuyin/essay/[[essay.essayId]]" class="cover-wrapper">
                            <img ng-src="[[essay.imagepath]]" alt="[[essay.title]]" class="cover">
                        </a>
                        <div class="item-ct">
                            <a href="http://www.luoo.net/essay/800" class="title">[[essay.author]]：[[essay.title]]</a>
                            <p class="subscribe">[[essay.subscribe]]</p>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="time">2016-12-05 / 14:26:13</span>
                        <a href="javascript:;" class="unfav btn-action-like btn-unfav" ng-click="delEcollect(essay.essayId)">
                            <i class="icon icon-trash"></i>
                        </a>
                    </div>
                </div>
                <div id="laypage3"></div>
            </div>
        </div>
    </div>
    <form class="layui-form" ng-show="showsure" id="showForm">
        <input type="hidden" name="id" value="[[userId]]"/>
        <div class="layui-form-item">
            <label class="layui-form-label">用户昵称</label>
            <div class="layui-input-block">
                <input type="text" style="width:200px;height: 38px" ng-model="userName" name="nickname" required  lay-verify="required" placeholder="输入昵称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-block">
                <input type="password" style="width:200px;height: 38px" id="password1" required  lay-verify="required" placeholder="输入新密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认新密码</label>
            <div class="layui-input-block">
                <input type="password" style="width:200px;height: 38px" id="password" name="password" required  lay-verify="required" placeholder="重新输入新密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">头像图片</label>
            <div class="layui-inline">
                <input type="text" name="headimage" ng-model="headImage" class="layui-input" style="width:200px;height: 38px"/>
            </div>
            <div class="layui-inline">
                <input type="file" name="picFile" class="layui-upload-file" id="headupload"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="1" title="男" checked=""/>
                <input type="radio" name="sex" value="2" title="女"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">生日</label>
            <div class="layui-input-block">
                <input name="birthday" placeholder="选择时间" class="layui-input" onclick="layui.laydate({elem: this,festival:true})" style="width:100px;height: 38px" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">地址</label>
            <div class="layui-input-block">
                <input name="adderss" placeholder="地址" class="layui-input" style="width:200px;height: 38px" />
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="userForm">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script src="/yuyin/js/query/user.js"></script>
</body>
</html>